# Virtual environment and python
.venv/
__pycache__

# Google OAuth credentials
credentials.json
token.pickle

# Environment variables
.env

# Screenshots
data_deletion/screenshots/

# Python
__pycache__/i



# secrets
SECRETS
